body {
    --person-position: 0px;
    --angle: -0deg;
    --distance: 333px;
    --distanceF: 333;
    --hypot: var(--distanceF);
    --void: #374657;
    --container-width: 552px;
    --container-height: 399px;
    --tv-border-lr: 254px;
    --tv-border-tb: 73px;
    --tv-glow-size: 20px;
    --bevel-scale: 10px;
    --bevel-offset: calc(var(--tv-glow-size) * 0.5);
    --bg-color: var(--body-bg);
    --tv-bevel-color: #434343;
    --tv-bevel-color-inner: #1b1b1b;
    --tv-bevel-color-outer: #696969;
    --image-backset-offset: 8px;
    --glow-transparency: 0.1;
    --tv-border-buffer: 40px;
    --tv-y-offset: 12px;

    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 800px;
    background-color: var(--void);
    overflow: hidden;

    &.transitory {
        #floor {
          transition: transform 0.6s ease-in-out;
          transition-property: transform, opacity, filter, transform-origin;
        }
    }
      
    &.first {
        #viewport {
            perspective: 650px;
        }
        
        #floor {
            // transform: rotate3d(1, 0, 0, 82deg)
            // rotate3d(0, 0, 1, calc(var(--angle) * -1))
            // translate3d(calc((var(--person-position) + 0.8px) * -0.6), 288px, 701px)
            // translate3d(calc((var(--person-position) + 0.8px) * -0.6), 613px, 777.292px)            translateZ(-77px);
            transform:
                rotate3d(1, 0, 0, 82deg)
                rotate3d(0, 0, 1, calc(var(--angle) * -1))
                translate3d(calc((var(--person-position) + 0.8px) * -0.8 + 0.4px), 617px, 734.251px)
                translateZ(-175px);
            transform-origin: center bottom var(--distance);
        
            #person {
                opacity: 0;
            }
        
            .viewline {
                opacity: 0;
            }
        }



        #tv-box .face {
            &.right, &.top {
                opacity: 1;
            }

        }
    }
}