#controls {
    position: fixed;
    left: 0;
    bottom: 0;
  
    .control-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        background-color: #fafafa;
        margin: 20px;
        border-radius: 40px;
        width: fit-content;

        label {
            margin-bottom: 10px;
            font-family: "Raleway", Tofu;
        }

        input[type="checkbox"] {
            transform: scale(1.5);
        }

        &.slide {
            padding: 15px 55px;

            &.zoom {
                right: 25px;
                position: fixed;
                top: calc(50% - 200px);
                transform-origin: right;
                transform: translateZ(0px) rotate(-90deg);
                width: 400px;
                transition: all 0.3s ease-in-out;
                filter: contrast(1) saturate(1);
                opacity: 1;
                transition-property: filter, opacity;

                input {
                    width: 100%;
                }
            }

            .in, .out {
                position: absolute;
                transform: rotate(90deg);
                font-size: 1.8rem;
                top: 12px;
                color: #c4c4c4;
            }

            .in {
                right: 20px;
            }

            .out {
                left: 20px;
            }
        }

        &.check {
            padding: 15px 30px;
        }
    }
  
    #personPosition {
        width: 400px;
    }
  }