#standingline {
    width: 100%;
    height: 65px;
    position: absolute;
    bottom: -156px;
    overflow: hidden;
    transform-style: preserve-3d;
  
    .slider {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transform: translateZ(1px);
    }
  
    > .texture {
        width: 100%;
        height: 100px;
        overflow: hidden;
        transform: scaleY(1) scaleX(2);
    
        img {
            width: 100%;
            object-fit: cover;
            object-position: center;
            position: relative;
            bottom: 89px;
        }
    }
}