#tv-box {
    position: absolute;
    transform-style: preserve-3d;

    --dim-w: 597px;
    --dim-h: 397px;
    --dim-d: 397px;
    --dim-lr-offset:calc((var(--dim-w) - var(--dim-d)) / 2);

    .tv-box-inner {
        transform-style: preserve-3d;
        display: flex;
        justify-content: center;
    }

    .face {
        position: absolute;
    }

    .bottom, .top {
        width: calc(var(--dim-w) + 6px);
        height: var(--dim-d);
        transform-style: preserve-3d;
        background-color: #434343;
        transform-origin: center bottom;
        transform: translateX(-2px) translateZ(calc(-25px - var(--bevel-scale) * -1)) rotate3d(1, 0, 0, 90deg);
    }

    .top {
        transform-origin: center top;
        transform:  translateX(-2px) translateZ(calc(-25px - var(--bevel-scale) * -1)) rotate3d(1, 0, 0, -90deg);
        transition: all var(--tts) ease-in-out;
        transition-property: opacity;
    }

    .left, .right {
        width: var(--dim-d);
        height: calc(var(--dim-h) + 4px);
        background-color: #434343;
        transform-origin: top left;
        transform: rotate3d(0, 1, 0, 90deg) translate3d(calc(1px + var(--bevel-scale)), -2px, calc((var(--dim-lr-offset) * -1) -  calc(var(--bevel-scale) * -1)));
    }

    .right {
        transform-origin: top right;
        transform: rotate3d(0, 1, 0, -90deg) translate3d(calc(-1px - var(--bevel-scale)), -2px, calc(var(--dim-lr-offset) * -1));
        transition: all var(--tts) ease-in-out;
        transition-property: opacity;
    }

    .right-mask {
        height: var(--dim-d);
        width: 1000px;
        background-color:  var(--void);;
        left: calc(var(--dim-w) * 0.5 - 1px);
        transform-origin: left bottom;
        transform: rotateX(90deg);
    }


    .back {
        height: var(--dim-h);
        width: var(--dim-w);
        background-color: #434343;
        transform: translate3d(0px, 0px, calc(var(--dim-d) * -1));
    }

    .front {
        mask: url(#mask-linear);
        height: var(--dim-h);
        width: var(--dim-w);
        background-color: var(--void);
        transform: translateY(var(--dim-h)) translateZ(-1px) ;
    }

    .top-mask {
        height: var(--dim-d);
        width: calc(var(--dim-w) * 10);
        background-color: var(--void);
        bottom: 100%;
        transform: translateY(0px);
        transition: all var(--tts) ease-in-out;
        transition-property: transform;
    }
}