#window {
    transform-origin: center bottom;
    transform: rotate3d(1, 0, 0, -90deg) translate3d(0px, 0px, -231px);
    transform-style: preserve-3d;
    width: 100%;
    display: flex;
    justify-content: center;
  
    .contents {
        height: 100%;
        display: flex;
        justify-content: center;
    }
  
    > .texture {
        transform-style: preserve-3d;
        display: flex;
        justify-content: center;
    
        img {
            width: 50%;
            transition: transform 0.3s ease-in-out;
            transition-property: transform, opacity, filter;
            bottom: 0;
            aspect-ratio: 53 / 130;
    
            &:first-child {
                position: absolute;
                opacity: 1;
                transform: translate3d(0, 0, -1px);
            }
    
            &:nth-child(2) {
                opacity: 1;
                filter: blur(0px) brightness(1) saturate(1)
                    drop-shadow(0px 0px 2px #161a21cf);
                transform: translate3d(0px, -11px, 9px) scale(0.9, 0.969);
            }

            &.wallslat, &.openwindow {
                position: absolute;
                
                @for $i from -10 through 10 {
                    &[data-x="#{$i}"] {
                        left: calc(#{$i*50}% + 25% - #{$i}px);
                    }
                }

                @for $i from -1 through 10 {
                    &[data-x="#{$i}"] {
                        transition-delay: #{$i * 0.1 + 0.1}s;
                    }
                }
            }
        }
    }
  
    // &:hover,
    &.force-expand {
        --do-damp: 0;
    
        #kinect {
            transform:translateZ(40px) translateY(35px);
        }
    
        + #viewline1 + #viewline2 {
            --vl2-scale: 1;
        }
    
        > .texture {
            // box-shadow: inset 0px 0px 0px 4px #229bdd; */
    
            > img {
                @for $i from -1 through 1 {
                    &[data-x="#{$i}"] {
                        transform: translate3d(0, 394px, 0px);
                    }
                }
        
                &:nth-child(2) {
                    opacity: 0;
                    filter: blur(10px) brightness(0.7) saturate(0.5)
                    drop-shadow(0px 0px 2px #161a21cf);
                    transform: translate3d(0, 0px, 200px);
                }
            }
        }

        #tv-frame {
            --tv-border-lr: calc(-12px + var(--tv-border-buffer));
            --tv-border-tb: calc(12px + var(--tv-border-buffer));
            --tv-y-offset: -2px;

            transition: all 0.6s ease-in-out;
            transition-delay: 0.5s;
        }
  
        .contents {
            .layer {
                .texture {
                    // filter: drop-shadow(0px 0px 8px #2f5aff);
                    filter: drop-shadow(0px 0px 10px #161a21);
                }
            }
    
            #layer1 {
                --backset: calc(-100px * 0.5);
            }
    
            #layer2 {
                --backset: calc(-200px * 0.5);
            }
    
            #layer3 {
                --backset: calc(-300px * 0.5);
            }
    
            #layer4 {
                --backset: calc(-400px * 0.5);
            }
    
            #layer5 {
                --backset: calc(-500px * 0.5);
            }
        }
    }
}